<div class="card shadow-lg p-3 mb-5 rounded">
    <div class="card-header">
        <h3>Forgot password?</h3>
    </div>
    <div class="card-body">
        <p>We'll send you a link to your email id to reset your password.</p>
        <form (ngSubmit)="forgotPassword(forgotPasswordRequestForm)" #forgotPasswordRequestForm="ngForm"
            name="forgotPasswordRequestForm">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="text" name="email" class="form-control" placeholder="Enter your email id" id="email"
                    required [(ngModel)]="user.email" #email="ngModel" autocomplete="off">
            </div>
            <div *ngIf="email?.errors && (email.dirty || email.touched)">
                <div [hidden]="!email.errors.required" class="danger">Email is required*</div>
            </div>
            <div class="form-group text-center">
                <button type="submit" [disabled]="!forgotPasswordRequestForm.form.valid"
                    class="btn float-right login_btn">Submit</button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isError">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </form>
    </div>
</div>