@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


html,body{ 
background-size: cover;
background-repeat: no-repeat;
background-color:darkgray;
height: 100%;
 
}
.container{
   outline: 1px solid auto;      
   align-content: center;
   
} 

.card-header h3{
   color: white;
}

.input-group-prepend span{
   width: 50px;
   background-color: #FFC312;
   color: black;
   border:0 !important;
}

.login_btn{
   color: black;
   background-color: #FFC312;
   width: 100px;
}

.card-body .danger{
   color:white;
}


a{
   color:white;
}